<a href="{{ path('index') }}">home</a>
<a href="{{ path('admin') }}">admin</a>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('logout') }}">log out</a>
    <a href="{{ path('password') }}">change password</a>
{% endif %}